
#foto1{
    background-image: url("https://static.barcelo.com/content/dam/bhg/master/es/main-destination-photo/province/madrid/destino_madrid_02.jpg.bhgimg.optm1100.jpg/1604674609361.jpg");
    position: relative;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 220px;

}


#foto1:before {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);

}


#foto6{

    background-image: url("https://live.staticflickr.com/4097/4786170971_bda6528832_c.jpg");
    position: relative;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height: 220px;
 

}




#foto6:before {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);

}